{% extends 'db/base.html' %}
{% block content %}

<!--Search section-->
<div class="row">
    <div class="col-sm-1"></div><!--placefiller to centralise content-->
    <div class="col-sm-5"><!--Left column - description-->
        <h3>Search</h3><br>
        <p>Search the Runlog database by worksheet ID, run ID, sample ID or pipeline to output a list of matching runs.</p> 
        <p>Input your search terms and click 'Search' to start.</p>
    </div>
    <div class="col-sm-5"><!--Right column - input form-->
        <div class="card bg-light" style="width:400px">
            <div class="card-body">
                <h5 class="card-title">Enter search terms:</h5><br>
                <form method="POST" class="post-form">{% csrf_token %}
                    <table>{{ form.as_table }}</table><br>
                    <button type="submit" class="save btn btn-sm btn-primary float-right" name="search_input">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><hr>

<!--Results section-->
<h3>Results</h3>
<table class="table table-sm table-condensed table-hover table-responsive">

    <thead><!--Results table headers-->
        <tr>
            <td width="35%"><b>Run ID</b></td>
            <td width="10%"><b>Worksheet</b></td>
            <td width="10%"><b>Pipeline</b></td>
            <td width="45%"><b>Samples</b></td>
        </tr>
    </thead>

    <tbody><!--loop through runs to make table rows-->
    {% for run in runs %}
        {% for ws in run.worksheets.all %}

        <tr>
        <!--only include this row for the first ws in the run, 
            set the row span to the number of worksheets-->
        {% if ws == run.worksheets.all|first %}
            <td rowspan="{{ run.worksheets.all|length }}">{{ run.run_id }}</td>
        {% endif %}
            <td>{{ ws }}</td>
            <td>{{ ws.panel }}</td>
            <td>{{ ws.list_samples }}</td>
        </tr>

        {% endfor %}    
    {% endfor %}
    <!-- TO DO: make button to view whole record
    <td><span class="badge badge-primary">View</button></td>  -->
    </tbody>

</table>

{% endblock %}
