{% extends 'db/base.html' %}
{% block content %}

<!--Search section-->
<div class="row">
    <div class="col-sm-1"></div><!--placefiller to centralise content-->
    <div class="col-sm-5"><!--Left column - description-->
        <h3>Search</h3><br>
        <p>Search the Runlog database by worksheet ID, run ID, sample ID or pipeline to output a list of matching runs.</p> 
        <p>Input your search terms and click 'Search' to start.</p>
    </div>
    <div class="col-sm-5"><!--Right column - input form-->
        <div class="card bg-light" style="width:400px">
            <div class="card-body">
                <h5 class="card-title">Enter search terms:</h5><br>
                <form method="POST" class="post-form">{% csrf_token %}
                    <table>{{ searchform.as_table }}</table><br>
                    <button type="submit" class="save btn btn-sm btn-primary float-right" name="search_input">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><hr>

<!--TAT section-->
<div class="row">
    <div class="col-sm-1"></div><!--placefiller to centralise content-->
    <div class="col-sm-5"><!--Left column - description-->
        <h3>TAT query</h3><br>
        <p>Pull out run data for producing turn around times for the NGS KPIs. Data is outputted as a spreadsheet split by pipeline.</p>
        <p>Enter a date range and click 'Download' to start.</p>
    </div>
    <div class="col-sm-5"><!--Right column - input form-->
        <div class="card bg-light" style="width:400px">
            <div class="card-body">
                <h5 class="card-title">Enter date range:</h5><br>
                <form method="POST" class="post-form">{% csrf_token %}
                    <table>{{ tatform.as_table }}</table><br>
                    <button type="submit" class="save btn btn-sm btn-primary float-right" name="tat_input">Download</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><hr>

{% endblock %}
